target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn
gradlew
gradlew.bat
/gradle

# 이 프로젝트는 gradel.properties에 인증정보가 포함되서 제외함.
/gradle.properties